/* .register{
   font-family: 'Josefin Sans', sans-serif;
   background: #2c3346; 
   padding:60px 0px;
} */
 
/* .navigation{
   background-color: #2c3346; 

} */




.navbar-brand{
font-weight:700;
font-family: 'Josefin Sans', sans-serif;
text-transform:capitalize;
text-align:center;
color:#FFF;
/* margin:40px 0px; */
}
.navbar-custom {
   background-color: #2c3346;
   overflow-y: hidden;
}
.main_content{
   position: fixed;
 }
 .custombutton{
    margin-left: 10px ;
 }
 /* .navbar-custom .collapse .navbar-nav .logout{
    background-color: #FFF;
 text-decoration-color: aquamarine;
   } */
